.detail-container {
  overflow-y: auto;
  height: 350px;
}

.title {
  text-align: center
}

.card__fetchhook {
  width: 100%;
}

.card-title__fetchhook {
  font-size: 1.3rem;
}

p.card-text__fetchhook {
  font-size: 1.1rem;
}

